/*
Theme Name: Los Amateurs
Theme URI: losamateurs.com
Description: 
Version: 1
Author: josleugim
Author URI: http://www.josleugim.com
*/

@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helveticaneue-extended-webfont.eot');
    src: url('../fonts/helveticaneue-extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-extended-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-extended-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-extended-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body,
body a {
	font-family: 'helveticaneue';
}

.main-list-block {
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	padding-bottom: 33px;
}

.main-title {
	background-color: #000;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
}

.post-title,
.post-title a {
	color: #000;
	font-weight: 800;
	margin-top: 0;
	text-decoration: none;
	text-transform: uppercase;
}

.post-title a:hover {color: #b8d90f;}

.ver-mas {
	clear: both;
	text-transform: uppercase;
}

.ver-mas a,
.ver-mas a:hover {
	color: #b8d90f;
	font-size: 1.1em;
	font-weight: 600;
	text-decoration: none;
}

.post-med-img {
	float: left;
	height: 215px;
	margin-right: 27px;
	width: 324px;
}

.excerpt-block {
	float: left;
	max-width: 283px;
	overflow: hidden;
}

.side-bar .fb_iframe_widget span,
.side-bar .fb_iframe_widget iframe {
	width: 99% !important;
}

.single .fb_iframe_widget,
.single .fb_iframe_widget > div,
.single .fb_iframe_widget > span,
.single .fb_iframe_widget iframe {
	width: 100% !important;
}

.navbar-default {
	background-color: #0d0e0e;
	border-color: transparent;
	border-radius: 0;
	color: #fff;
	font-family: 'helveticaneue';
	font-size: 1em;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 50px;}

.navbar-default .navbar-brand {
	background: url(images/amateurs-sprite.png) no-repeat -1px -8px;
	height: 27px;
	margin: 20px 50px 0;
	padding: 0;
	text-indent: -999999px;
	width: 245px;
}

.nav>li {
	line-height: 10px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
	float: left;
	color: inherit;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #b8d90f;
}

.nav>li>a {padding: 30px 10px 15px;}

.nav>li>span {padding: 35px 10px 15px;}

.navbar-default .navbar-nav>li>span {
	display: inline-block;
	float: left;
}

.navbar-default .navbar-nav .instagram,
.navbar-default .navbar-nav .twitter,
.navbar-default .navbar-nav .facebook,
.navbar-default .navbar-nav .search-field {margin-left: 30px;}

.navbar-default .navbar-nav .instagram a,
.navbar-default .navbar-nav .twitter a,
.navbar-default .navbar-nav .facebook a {
	height: 21px;
	padding: 70px 0 0 0;
	text-indent: -999999px;
	width: 21px;
}

.navbar-default .navbar-nav .instagram a {background: url(images/instagram.png) no-repeat center center;}
.navbar-default .navbar-nav .twitter a {background: url(images/twitter.png) no-repeat center center;}
.navbar-default .navbar-nav .facebook a {background: url(images/facebook.png) no-repeat center center;}

.navbar-default .navbar-nav .search-field {
	height: 21px;
	margin-right: 25px;
	width: 21px;
}

.navbar-default .navbar-nav .search-field form {
	padding: 23px 0 0 0;
	position: relative;
}

.navbar-default .navbar-nav .search-field input[type="text"] {
	background: #fff url(images/search-icon.png) no-repeat 100% center;
	border: none;
	border-radius: 25px;
	color: #000;
	height: 25px;
	left: 0;
	padding: 0 6px;
	position: absolute;
	trasition: all ease-out 300ms;
	-webkit-transition: all ease-out 300ms;
	width: 25px;
}

.navbar-default .navbar-nav .search-field:hover form input[type="text"] {
	left: -170px;
	width: 200px;
}

#main-carousel .dots {
	bottom: 28%;
}

.carousel-img {
	width: 100%;
	height: 464px;
}

.carousel-indicators {bottom: 0;}

.carousel-indicators li {
	background-color: #000;
	border: 1px solid #000;
}

.carousel-indicators .active {
	background-color: #b8d90f;
	border: 1px solid #b8d90f;	
}

.carousel-img .carousel-caption {
	background-color: #000;
	bottom: 0;
	filter: alpha(opacity=0.57);
	height: 178px;
	left: 50%;
	margin-left: -350px;
	opacity: 0.57;
	width: 700px;
	z-index: 2;
}

.carousel-img .carousel-title {
	bottom: 0;
	font-family: 'helveticaneue';
	height: 178px;
	left: 50%;
	margin-left: -350px;
	position: absolute;
	text-align: center;
	width: 700px;
	z-index: 3;
}

.carousel-img .carousel-title h3 {
	font-size: 1.5em;
	font-weight: 800;
	margin: 20px 0;
	padding-top: 16px;
	text-transform: uppercase;
}

.carousel-img .carousel-title a {text-decoration: none;}

.carousel-img .carousel-title a,
.carousel-img .carousel-title p {
	color: #fff;
	padding: 0 20px;
}

.carousel-img .carousel-title p {
	font-size: .9em;
	max-height: 50px;
	overflow: hidden;
}

.carousel-control {
	filter: alpha(opacity=1);
	height: 57px;
	margin-top: -26px;
	opacity: 1;
	text-indent: -999999px;
	top: 50%;
	width: 28px;
}

.carousel-control.left {
	background: url(images/amateurs-sprite.png) no-repeat -320px -1px;
	left: -27px;
}
.carousel-control.left:hover {background: url(images/amateurs-sprite.png) no-repeat -256px -1px;}
.carousel-control.right {
	background: url(images/amateurs-sprite.png) no-repeat -352px -1px;
	right: -27px;
}
.carousel-control.right:hover {background: url(images/amateurs-sprite.png) no-repeat -288px -1px;}

.carousel .thumb {
	clear: both;
	height: 163px;
	left: 0;
	margin-left: 0;
	margin-top: 10px;
	position: relative;
	width: 100%;
}

.carousel .thumb li {
	border: none;
	border-radius: 0;
	height: 163px;
	position: relative;
	text-indent: 0;
	width: 190px;
}

.carousel .thumb .active p {
	background-color: #b8d90f;
}

.carousel .thumb li p {
	background-color: #fff;
	bottom: 0;
	font-size: 0.85em;
	height: 60px;
	line-height: 15px;
	margin: 0;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	text-transform: uppercase;
	width: 100%;
}

.carousel .thumb li p a {
	color: #000;
	font-weight: bolder;
	text-decoration: none;
}

.nuevas-title {
	background-color: #000;
	color: #fff;
	font-size: 1.5em;
	padding: 10px;
	text-transform: uppercase;
}

.nuevas .nuevas-cat {
	font-size: 0.8em;
	margin-top: 33px;
}

.nuevas .nuevas-cat a,
.nuevas-wrapper .nuevas-mas a,
.single .cat-title
 {
	color: #b8d90f;
	font-size: inherit;
	font-weight: 600;
}

.single .content {
	overflow: hidden;
}

.single img {
	max-height: 153px;
	max-width: 153px;
	width: 100%;
}

.nuevas-wrapper {
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	padding-bottom: 33px;
}

.nuevas-wrapper .nuevas-post-title a {
	color: #000;
	font-size: 0.75em;
	font-weight: 700;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.nuevas-wrapper .nuevas-post-title a:hover {
	color: #b8d90f;
	text-decoration: none;
}

.nuevas-img {
	float: left;
	height: 215px;
	margin-right: 27px;
	width: 324px;
}

.nuevas-excerpt {
	float: left;
	font-size: 0.9em;
	max-width: 283px;
	overflow: hidden;
}

.side-bar .conciertos-thumb {
	height: 87px;
	margin-left: 15px;
	width: 90px;
}

.conciertos .conciertos-title {
	font-size: 0.9em;
	font-weight: 800;
	margin-top: 0;
	text-transform: uppercase;
}

.conciertos .conciertos-excerpt {
	font-size: 0.8em;
}

.conciertos .conciertos-title a {
	color: #000;
	font-weight: 800;
}

.conciertos .conciertos-title a:hover {
	color: #b8d90f;
	text-decoration: none;
}

.single .single-title {
	font-size: 1.7em;
	font-weight: bolder;
	text-transform: uppercase;
}

.single .feature-thumb {
	height: 499px;
	text-indent: -999999px;
}

.single .comments {
	border-bottom: 5px solid #000;
	width: 100%;
}

.single .comments h4 {
	color: #000;
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
}

.category .main-title {
	display: inline-block;
}

.category .page-numbers {
	list-style: none;
}

.category .page-numbers li {
	background-color: #000;
	color: #000;
	display: inline-block;
	height: 25px;
	line-height: 24px;
	text-align: center;
	width: 25px
}

.category .page-numbers li .current {
	background-color: #fff;
	border: 1px solid #000;
	display: inline-block;
	color: #000;
	height: 100%;
	width: 100%;
}

.category .page-numbers li a {
	color: #fff;
	display: inline-block;
	height: 100%;
	width: 100%;
}

.category .page-numbers li a:hover {
	color: #b8d90f;
	text-decoration: none;
}

.category .page-numbers li .next {
	background: #fff url('images/amateurs-sprite.png') no-repeat -380px -27px;
	height: 100%;
	text-indent: -9999999px;
	width: 100%;
}

.category .page-numbers li .prev {
	background: #fff url('images/amateurs-sprite.png') no-repeat -380px -2px;
	height: 100%;
	text-indent: -9999999px;
	width: 100%;
}

footer {
	background-color: #000;
	height: 60px;
	margin-top: 50px;
	padding-top: 20px;
	width: 100%;
}

footer p {
	color: #fff;
	font-size: 0.8em;
	margin: 1px;
	text-align: right;
}